/* header */
.header{
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
  padding: 0 40px;
}

.header .inner-wrap{
  display:  flex;
  justify-content: space-between;
  align-items: center;
}


.header .inner-logo a{
  display: flex;
  align-items: center;
}

.header .inner-logo img{
  width: 50px;
  height: auto;
}

.header .inner-logo span{
  font-size: 22px;
  font-weight: 600;
  color: var(--color-text);
  margin-left: 15px;
}

.header .inner-wrap .inner-menu ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.header .inner-wrap .inner-menu ul li a{
  display: inline-block;
  padding: 35px 20px;
  color: var(--color-text);
  font-size: 18px;
}

.header .inner-wrap .inner-menu ul li a:hover{
  background-color: white;
}

.header .inner-wrap .inner-social ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.header .inner-wrap .inner-social ul li {
  margin-left: 15px;
} 


/* inline block */
/* .header .inner-wrap .inner-social ul li a{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  color: var(--color-text);
}  */

/* inline flex */
.header .inner-wrap .inner-social ul li a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  color: var(--color-text);
}

.header .inner-bar{
  display: none;
}

@media (max-width: 991.98px){
  .header{
    padding: 15px 20px;
  }
  .header .inner-bar{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .header .inner-social{
    display: none;
  }
}
/* end header */

/* Section one */
.section-one {
  background-image: url(../image/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 100px 0; 
  height: 612px;
}

.section-one::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.section-one .inner-wrap {
  position: relative;
}


.section-one .inner-wrap .inner-sub-title{
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.section-one .inner-wrap .inner-title{
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.section-one .inner-wrap .inner-desc{
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto 30px;
  color: white;
}


.button{
  color: black;
  background-color: white;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
}

.button-one{
  border-color: white;
  text-decoration: none;
  background-color: var(--color-button);
  font-size: 1.2rem;
  border: 2px solid white;
  margin-bottom: 10px;
}

.button-one-outline{
  margin: 0 10px;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  border: 2px solid rgb(169, 169, 169);
}

.button-one:hover {
  background-color:white;
}

.button-one-outline:hover {
  background-color: var(--color-button);
  color: black;
}


@media (max-width: 767.98px){
 .section-one .inner-wrap{
  text-align: center;
 }
}

/* end section one */


/* section two  */
.section-two {
  padding: 80px 0 50px;
  background-color: var(--background-color-2);
}
 
.section-two .inner-wrap{
  display: flex;
  align-items: center;
}

.section-two .inner-wrap .inner-image{
  width: 40%;
  margin-right: 5%;
}

.section-two .inner-wrap .inner-image img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.section-two .inner-wrap .inner-content{
  flex:1;
}


.section-two .inner-wrap .inner-sub-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.section-two .inner-wrap .inner-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.section-two .inner-wrap .inner-box{
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.section-two .inner-wrap .inner-box .box{
  display: flex;
  background: white;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
  margin-bottom: 5%;
}



.section-two .inner-wrap .inner-box .box i{
  font-size: 32px;
  color: var(--color-icon);
  margin-bottom: 10px;
}

.section-two .inner-wrap .inner-box .box span{
  font-size: 20px;
  font-weight: bold;
}

.section-two .inner-wrap .inner-desc{
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 991.98px){
  .section-two .inner-wrap{
    flex-wrap: wrap;
   }
  .section-two .inner-wrap .inner-image{
   width: 100%;
   margin-bottom: 5%;
  }
  .section-two .inner-wrap .inner-content{
    width: 100%;
  }
 } 

 @media (max-width: 767.98px){
  .section-two .inner-wrap .inner-content{
   text-align: center;
  }
  .section-two .inner-wrap .inner-box{
    justify-content: center;
   }

   .section-two .inner-wrap .inner-title {
    font-size: 50px;
  }
 }

 @media (max-width: 575.98px){
   .section-two .inner-wrap .inner-title {
    font-size: 32px;
  }
 } 

/* end section two */


/* section three */
.section-three{
  background-color: var( --background-color);
  padding-top: 150px;
  padding-bottom: 100px;
}

.section-three .inner-wrap{
  display: flex;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
}

.section-three .inner-wrap .inner-content{
  width: 60%;
  margin-left: 10%;
}

.inner-sub-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #909090;
}

.inner-title {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.section-three .inner-wrap .inner-image{
  width: 30%;
  position: relative;
}

.section-three .inner-wrap .inner-image img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: -120px;
  margin-bottom: -45px;
}




/* end section three */
